/BLT/Cygwin/parsing/* linguist-vendored
/BLT/parsing/* linguist-vendored
/ABP2Hosts/*.txt linguist-language=hosts linguist-detectable
/MiniLists/*.txt linguist-language=hosts linguist-detectable
/NoFormatting/Misc/*.txt linguist-language=hosts linguist-detectable
/WindowsTelemetryBlockSupplements/*.txt linguist-language=hosts linguist-detectable
cpbl-abp-list.txt linguist-language=adblock linguist-detectable
cpbl-abp-mini.txt linguist-language=adblock linguist-detectable
cpbl-abp-cosmetic-only.txt linguist-language=adblock linguist-detectable
cpbl-wildcard-blacklist.txt linguist-language=regex linguist-detectable
mini-cpbl-wildcard-blacklist.txt linguist-language=regex linguist-detectable
*.final linguist-language=hosts linguist-detectable
*.hosts linguist-language=hosts linguist-detectable
*.js linguist-language=regex linguist-detectable
*.pac linguist-language=regex linguist-detectable
*.sh linguist-language=bash linguist-detectable
*.txt linguist-language=hosts linguist-detectable
