*.cidr linguist-detectable=false
*.p2p linguist-detectable=false
*.final linguist-language=hosts linguist-detectable
*.hosts linguist-language=hosts linguist-detectable
*.js linguist-language=regex linguist-detectable
*consolidated.txt linguist-language=hosts linguist-detectable
*hosts.txt linguist-language=hosts linguist-detectable
*HOSTS.txt linguist-language=hosts linguist-detectable
*IPv4.txt linguist-language=hosts linguist-detectable
*IPv6.txt linguist-language=hosts linguist-detectable
*IPv4-Light.txt linguist-language=hosts linguist-detectable
*IPv6-Light.txt linguist-language=hosts linguist-detectable
*patterns.dat linguist-language=regex linguist-detectable
*cpbl-abp*.txt linguist-language=adblock linguist-detectable
*wildcard*.txt linguist-language=regex linguist-detectable
wildcard*.dat linguist-language=regex linguist-detectable
MD-ID-H-Fork.txt linguist-language=hosts linguist-detectable
tld-filter.dat linguist-language=regex linguist-detectable
